/* HERO */

.hero {
    display: flex;
    margin-top: 5vw;
    margin-left: 1vw;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.tela {
    display: flex;
    justify-self: center;
    justify-content: center;
    background-color: var(--cor-tela);
    width: 75vw;
    height: 50rem;
    margin-right: 13vw;
    border-radius: 5px;
}

.texto h1 {
    margin-top: 5vw;
}

.texto h2 {
    display: flex;
    justify-content: center;
}

.texto h2 img {
    width: 4rem;
}

.hero h4 {
  display: flex;
  justify-content: center;
    color: var(--cor-fonte-hover);
    font-family: var(--fonte-titulos);
    font-size: 25px;
}

/* CONTROLES */
.controles {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 1vw;
    align-self: center;
    /* width: 8vw; */
}

.texto p img {
    width: 2rem;
}

.texto h3, p{
    color: rgb(163, 163, 163);
}
