/* HERO - DESTAQUE */

#hero {
  display: flex;
  font-family: var(--fonte-titulos);
  color: var(--cor-fonte);
  background-color: var(--cor-topo);
  gap: 1rem;
  background-image: url(../Assets/IMG/ChatGPT\ Image\ 26\ de\ jun.\ de\ 2026\,\ 23_30_49.png);
  background-size: 67rem;
  width: auto;
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  padding-left: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

#hero h1 {
  color: var(--cor-fonte-topo);
  width: 20%;
  font-size: 3rem;
}

#hero h3 {
  color: var(--cor-fonte-topo);
  width: 20%;
  font-size: 1.5rem;
}

/* CARDS */
.texto {
  color: var(--cor-fonte);
  font-family: var(--fonte-textos);
}

#jogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-fundo);
  margin-left: 10rem;
  margin-right: 10rem;
  gap: 2rem;
  border: 2px solid black;
  color: var(--);
}

#jogos a {
  text-decoration: none;
}

#jogos img {
  width: 10rem;
}

#jogo01 {
  display: flex;
  gap: 3rem;
  padding: 5px;
  border: 1px solid var(--cor-lateral);
  border-radius: 5px;
}